*.log
*.pot
*.pyc
*.project
*.pydevproject
.settings
.DS_Store*
*.swo
*.swp
*.orig
*~
*.pid
.vscode
.ropeproject
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule
*.idea
Retailone/static
*.zip
*/__MACOSX/*
